@model Agca.ECommerce.CoreMvcWebUI.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/_Layout2.cshtml";
    var check = true;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        function my(photoId) {
            y = document.getElementsByClassName("tab-pane active");
            for (i = 0; i < y.length; i++) {
                y[i].className = "tab-pane";
            }
            document.getElementById(photoId).className = "tab-pane active";

        }
    </script>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            @foreach (var photo in Model.Product.Photos)
                            {

                                if (check)
                                {
                                    <div class="tab-pane active" id="@photo.Id"><img src="~/@photo.Url" height="360" width="400"/></div>
                                }
                                else
                                {
                                    <div class="tab-pane" id="@photo.Id"><img src="~/@photo.Url" height="360" width="400"/></div>
                                }
                                check = false;

                            }
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            @foreach (var photo in Model.Product.Photos)
                            {
                                <li onclick="my(@photo.Id)" class="active"><a data-target="@photo.Id" data-toggle="tab"><img src="~/@photo.Url" /></a></li>
                            }

                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.Product.Name</h3>
                        <br />
                        <h4 class="price">Price: <span>@Model.Product.UnitPrice <i class="fa fa-turkish-lira"></i></span></h4>
                        <br />
                        <p class="product-description">@Model.Product.Description</p>

                        <div class="action">
                            <a class="add-to-cart btn btn-default" href="/Cart/AddToCart?productId=@Model.Product.Id">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/css/productDetail/style.css" rel="stylesheet" />
</body>
</html>

