@model Agca.ECommerce.CoreMvcWebUI.Models.ProductListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Products.Count > 0)
{
    <table class="table table-striped table-responsive table-hover text-center">
        <thead class="thead-light">
            <tr style="font-size:16pt;">
                <th></th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Units In Stock</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    @if (product.Photos.Find(p => p.IsMain == true) != null)
                    {
                        <td><img src="~/@product.Photos.Find(p => p.IsMain == true).Url.ToString()" alt=@product.Name asp-append-version="true" width="100" height="100" /></td>
                    }
                    else
                    {
                        <td><img src="~/img/notFound.png" alt="Image not found" width="100" height="100" /></td>
                    }

                    <td>@product.Name</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.UnitsInStock</td>
                    <td><a class="btn btn-xs btn-warning" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.Id"><i class="fa fa-shopping-cart text-light"></i> Add to cart</a></td>
                </tr>
            }
        </tbody>
    </table>

    <html-product-pager page-size="@Model.PageSize"
                        page-count="@Model.PageCount"
                        current-page="@Model.CurrentPage"
                        category-Id="@Model.CurrentCategoryId">

    </html-product-pager>

}else
	{
	            <div class="container text-center">
                    <h4>No items to list</h4>
                </div>
	}